    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About XR-X</h2>
				<p>
				Last updated: 2019-12-10
				</p>
                <p>I <a href="http://philiprhoades.org">(Philip Rhoades)</a> created XR-X for two main reasons:
                <ul>
                    <li>
                    In mid-2019, the few people who controlled the National IT group for <a href="https://ausrebellion.earth"> XR Australia</a> were refusing to correct activist sign-up problems that endangered the security of those new people - particularly the young leaders. I felt this was intolerable as Western democracies accelerated their slide into full-blown Fascism.
                    </li>
                </ul>
                    <li>
                    A concerted world-wide effort is needed to prosecute "Carbon Criminals" who have pushed the system to a state where The World's Sixth Mass Extinction is probably now unstoppable and will accelerate to its natural conclusion in the near term.
                    </li>
                </p>
                <p></p>
            </div>
        </div>
    </section>
